@media only screen and (min-width: 880px) {
    #hud {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    h1 {
        display: none;
    }

    .panelMain {
        display: none !important;
    }

    .panel {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #panel-wrapper-left {
        display: flex;
        justify-content: left;
        position: fixed;
        top: 330px;
        left: 80px;
        width: 250px;
        gap: 60px;
    }

    #panel-wrapper-right {
        display: flex;
        justify-content: right;
        position: fixed;
        top: 330px;
        right: 80px;
        width: 250px;
        gap: 60px;
    }

    #panel-wrapper-top {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 10px;
        right: 20px;
        width: 200px;
        gap: 10px;
    }

    #btnOptions {
        background-color: transparent;
        color: #9d6868;
        border: none;
        border-radius: 12px;
        font-size: 30px;
        cursor: pointer;
    }

    #muteMusikcButtonSmart,
    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        background-color: transparent;
        color: #000000;
        border: none;
        border-radius: 12px;
        font-size: 30px;
        cursor: pointer;
    }

    #startScreen {
        position: relative;
        display: flex;
        justify-content: center;
    }

    #startButton {
        position: absolute;
        top: 25px;
        right: 50px;
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
    }

    #controlsButton {
        position: absolute;
        top: 25px;
        left: 50px;
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
    }

    #restartButton {
        position: absolute;
        top: 25px;
        background-color: #d6d623;
        color: #000000;
        padding: 10px 20px;
    }

    .container {
        padding-bottom: 0;
    }

    .startImage {
        position: relative;
        width: 100%;
        height: auto;
    }

    .toWinAGame {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
    }

    .toLoseAGame {
        position: relative;
        width: 100%;
        height: auto;
    }

    canvas {
        width: 100%;
        height: auto;
    }

    .footer {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    body {
        margin: 0;
    }

    canvas {
        height: 100vh;
        margin: 0;
    }

    .title {
        display: none;
    }

    .container {
        padding-top: 0;
    }

    .controls {
        display: block;
        position: fixed;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #startScreen {
        position: relative;
        display: flex;
        justify-content: center;
    }


    .startImage,
    .toWinAGame,
    .toLoseAGame {
        width: 100%;
        height: auto;
    }

    #startButton,
    #controlsButton,
    #restartButton {
        top: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }

    #controlsButton {
        left: 20px;
    }

    #startButton {
        right: 20px;
    }

    .title {
        font-size: 40px;
    }

    .footerInfo {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    #startScreen {
        flex-direction: column;
        align-items: center;
    }

    #startButton,
    #controlsButton {
        position: relative;
        margin: 10px 0;
    }
}