
@font-face {
    font-family: Zabars;
    src: url(fonts/ZABARS/Zabars.ttf);
}

:not(:root):fullscreen::backdrop {
    background-image: url('./img/desert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: Zabars, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/desert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.title {
    text-align: center;
    display: block;
    letter-spacing: 5px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    cursor: default;
}

#title {
    position: absolute;
    top: 20px
}

#startScreen {
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
}

.startImage {
    position: absolute;
    width: 720px;
    height: 480px;
}

#startButton {
    font-family: Zabars, sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    top: 25px;
    right: 50px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#controlsButton {
    font-family: Zabars, sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#impressum {
    font-family: Zabars, sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: lighter;
    position: absolute;
    top: 425px;
    left: 190px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#impressumScreen {
    position: relative;
    top: 200;
    left: 150;
    width: 720px;
    height: 480px;
    background: transparent;
}

#impressumScreen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.impressumContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 420px;
    margin: 0;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

#closeImpressum {
    font-family: Zabars, sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: lighter;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 350px;
}

.hidden {
    display: none;
}


#start-button:hover {
    background-color: #3e8e41;
}

canvas {
    display: none;
    background-color: black;
}

#controls {
    display: none;
}

.panelMain {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#muteMusicButton {
    background-image: url('img/laut.png');
    background-size: cover;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#fullscreen {
    background-image: url('img/vollbild.png');
    background-size: cover;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.panel {
    display: none;
}

.footer {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.footer button {
    margin-left: 130px;
}

#closeControls {
    font-family: Zabars, sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footerInfo {
    font-size: 35px;
    letter-spacing: 2px;
}

.poweredBy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    gap: 20px;
}

.footer img {
    width: 15px;
    height: 15px;
}

.toWinAGame {
    position: absolute;
    width: 720px;
    height: 480px;
    top: 245px;
    display: none;
}

.toLoseAGame {
    position: absolute;
    width: 720px;
    height: 480px;
    top: 245px;
    display: none;
}

#restartButton {
    position: absolute;
    top: 280px;
    background-color: #d6d623;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#restartButton:hover {
    background-color: #4ed753;
}

#swapYourPhone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#swapYourPhone img {
    width: 80%;
    max-width: 480px;
    height: auto;
}